.cards{
    display:flex;
    flex-wrap:wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 50px;
    width: 150px;
    margin-right:3rem;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card__title{
    margin-bottom: 10px;
    background: cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 120%;
    letter-spacing: 1px;
    height: 15px;
  }
  .card__message{
      padding:10px;
      word-wrap: break-word;
      height:100px;
      overflow:scroll;
  }
  .card__buttons {
    display: flex;
    justify-content: space-around;
    padding:10px;
  }

